<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<html th:replace="~{layout/layout :: layout}">

<th:block th:fragment="content">
    <div class="dashboard-content">
        <h2>슬러지 처리</h2>
        <div class="content-area">
            <p>슬러지 처리 정보를 관리할 수 있습니다.</p>
        </div>
    </div>
</th:block>

</html> 